*{
    font-family: Arial, Helvetica, sans-serif;


}
body{
background-color: rgb(240, 255, 174);
}
form{
    margin-left: 220px;
    bottom: 250px;
}

button{
    width: 318px;
    padding: 10px;
    background-color: rgb(0, 80, 17);
    border: none;
    border-radius: 3px;
    color: azure;

}
.back{
    width: 7px;
    top: 8px;
    left: 8px;
    position: absolute;
    
}

.back-button{
    width: 30px;
    height: 30px;
    background:#65c26a ;
    backdrop-filter: blur(10px);
    border:2px solid #65c26a;
    border-radius: 100px;
    margin-left: 70px;
    box-shadow: 0 0 25px #65c26a ;
    bottom: 940px;
    position: relative;
}
.i1,.i2{
    width: 300px;
    padding: 10px;
    background-color: rgb(174, 255, 144);
    border: none;
    border-radius: 3px;
    color: azure;
}

p{
    font-weight: bold;
    font-size: larger;
}
h1{
    font-weight: bolder;
    font-size: xx-large;
}

.message{
    width: 300px;
    padding: 10px;
    background-color: rgb(174, 255, 144);
    border: none;
    border-radius: 3px;
    color: azure;
    
}


.Info{
    width: 390px;
    height: 390px;
    position: relative;
    left: 910px;
    bottom:440px ;
    background-color: rgb(153, 238, 160);
    color: rgb(0, 58, 3);
    font-weight: bolder;
    border-radius: 15px;
    background-repeat: no-repeat;
}

.img1{
    margin-left: 30px;
    width: 35px;
    height: 25px;
    
}
.img2{
    margin-left: 30px;
    width: 35px;
    height: 25px;
}
.img3{
    margin-left: 30px;
    width: 35px;
    height: 25px;
}
.img4{
    margin-left: 30px;
    width: 30px;
    height: 30px;
}
h3{
    margin-left: 30px;
    font-weight: bolder;
    font-size: x-large;
}

.d2{
    width: 40px;
    height: 40px;
    background-color: #afca42;
    border-radius: 8px;
    position: relative;
    bottom: 380px;
    right: 20px;
}

.d3{
    background-color: #afca42;
    width: 170px;
    height: 900px;
    position: absolute;
    margin-left: 932px;
    bottom: 0.5px;
    left: 249px;
    
}

.d1{
    top: 80px;
    position: absolute;

}
.png-background{
    width: 400px;
    position: relative;
    
    top: 30px;
    right: 70px;
}