body{
    background-color: rgb(250, 250, 214);
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(248, 248, 177);
    margin: 0;
    overflow-x: hidden;
}
.main{
    width: 200px;
    height: 70px;
    background-color: rgb(41, 119, 41);
    border: 2px solid rgb(41, 119, 41);
    box-shadow: 0 0 15px rgb(41, 119, 41);
    border-radius: 20px;
    text-align: center;
    color: beige;
    position: relative;
    left: 630px;
    top: 65px;
    font-weight: bolder;

}
.main p{
    margin-top: 25px;
}
.background{
    background-image: url("background-top.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    width: 100%;
    margin-right: 70px;
    border-radius: 0 0 15px 15px;
    padding-top: 40px;
}
.discription{
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 4px;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 10px;
    color: #000000;
    width: 700px;
    height: 370px;
    margin-top: 25px;
    margin-left: 340px;
    text-align: justify;
    font-size: large;
    
}
.d{
    width: 220px;
    height: 330px;
    background-color: rgb(106, 246, 106);
    border: 2px solid rgb(106, 246, 106);
    box-shadow: 0 0 15px rgb(106, 246, 106);
    border-radius: 20px;
    position: absolute;
}


.flower1{
    width: 230px;
    position: relative;
    left: 80px;
    bottom: 20px;
   filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.7));
}
.a1 :hover{
     filter: drop-shadow(5px 5px 10px rgb(255, 255, 255));
}
.star1{
    width: 25px;
    margin-left: 90px;
    bottom: 8px;
    position: relative;
}
.basket1{
    width: 40px;
    margin-left: 169px;
    bottom: 2px;
    opacity: 0.7;
    position: relative;
}
.price1{
    position: relative;
    margin-left: 15px;
    top: 70px;
    font-size:xx-large;
    font-weight: bolder;
    color: rgb(10, 41, 3);
}
.score1{
    font-weight: bold;
    margin-left: 120px;
    bottom:42px;
    position: relative;
    font-size: smaller;
}
.discript1{
    font-weight: bold;
    margin-top: 30px;
    text-align: center;
    margin-right: 1100px;
    position: relative;
    opacity: 0.7;
    font-size: small;
}
.flower-name1{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 140px;
    color: rgb(29, 54, 0);
    text-shadow:5px 5px 10px rgba(0,0,0,0.7);
}
.divFlower1{
    margin-left: 80px;
    margin-top: 130px;
}





/* div2 */

.flower2{
    width: 180px;
    position: relative;
    left: 125px;
    top: 15px;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.7));
}
.star2{
    width: 25px;
    margin-left: 90px;
    bottom: 10px;
    position: relative;
}
.basket2{
    width: 40px;
    margin-left: 169px;
    bottom: 15px;
    opacity: 0.7;
    position: relative;
}
.price2{
    position: relative;
    margin-left: 15px;
    top: 55px;
    font-size:xx-large;
    font-weight: bolder;
    color: rgb(10, 41, 3);
}
.score2{
    font-weight: bold;
    margin-left: 120px;
    bottom:47px;
    position: relative;
    font-size: smaller;
}
.discript2{
    font-weight: bold;
    margin-top: 8px;
    text-align: center;
    margin-right: 1100px;
    position: relative;
    opacity: 0.7;
    font-size: small;
}
.flower-name2{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 155px;
    color: rgb(29, 54, 0);
    text-shadow:5px 5px 10px rgba(0,0,0,0.7);
}
.divFlower2{
    margin-left: 80px;
    margin-top: 130px;
}

/* div3 */

.flower3{
    width: 180px;
    position: relative;
    left: 105px;
    bottom: 30px;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.7));
}
.star3{
    width: 25px;
    margin-left: 90px;
    bottom: 30px;
    position: relative;
}
.basket3{
    width: 40px;
    margin-left: 169px;
    bottom: 95px;
    opacity: 0.7;
    position: relative;
}
.price3{
    position: relative;
    margin-left: 15px;
    bottom: 24px;
    font-size:xx-large;
    font-weight: bolder;
    color: rgb(10, 41, 3);
}
.diss1{
    background-color: red;
    border: none;
    border-radius: 100px;
    width: 40px;
    margin-left: 165px;
    text-align: center;
    position: relative;
    top: 1px;
}
.score3{
    font-weight: bold;
    margin-left: 120px;
    bottom:65px;
    position: relative;
    font-size: smaller;
}
.discript3{
    font-weight: bold;
    bottom: 20px;
    text-align: center;
    margin-right: 1110px;
    position: relative;
    opacity: 0.7;
    font-size: small;
    position: relative;
}
.befor1{
    opacity: 0.8;
    margin-top: 90px;
    margin-left: 15px;
}
.flower-name3{
    text-align: center;
    font-size: 28px;
    font-weight: bolder;
    margin-top: 100px;
    color: rgb(29, 54, 0);
    text-shadow:5px 5px 10px rgba(0,0,0,0.7);
    position: relative;
    top: 10px;
}
.divFlower3{
    margin-left: 80px;
    margin-top: 130px;
}

/* div4 */

.colmn2{
    margin-left: 350px;
    position: relative;
    bottom: 1322px;
    
}


.flower4{
    width: 300px;
    position: relative;
    left: 25px;
    bottom: 130px;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.7));
}
.star4{
    width: 25px;
    margin-left: 90px;
    bottom: 146px;
    position: relative;
}
.basket4{
    width: 40px;
    margin-left: 169px;
    bottom: 15px;
    opacity: 0.7;
    position: relative;
}
.price4{
    position: relative;
    margin-left: 15px;
    top: 59px;
    font-size:xx-large;
    font-weight: bolder;
    color: rgb(10, 41, 3);
}
.score4{
    font-weight: bold;
    margin-left: 120px;
    bottom:180px;
    position: relative;
    font-size: smaller;
}
.discript4{
    font-weight: bold;
    bottom: 140px;
    text-align: center;
    margin-right: 745px;
    position: relative;
    opacity: 0.7;
    font-size: small;
    position: relative;
    
}
.flower-name4{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 150px;
    color: rgb(29, 54, 0);
    text-shadow:5px 5px 10px rgba(0,0,0,0.7);
}
.divFlower4{
    margin-left: 80px;
    margin-top: 130px;
}

/* div5 */


.colmn3{
    margin-left: 350px;
    position: relative;
    bottom: 1472px;
    
}


.flower5{
    width: 180px;
    position: relative;
    left: 100px;
    top: 20px;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.7));
}
.star5{
    width: 25px;
    margin-left: 90px;
    bottom: 8px;
    position: relative;
}
.basket5{
    width: 40px;
    margin-left: 169px;
    bottom: 15px;
    opacity: 0.7;
    position: relative;
}
.price5{
    position: relative;
    margin-left: 15px;
    top: 55px;
    font-size:xx-large;
    font-weight: bolder;
    color: rgb(10, 41, 3);
}
.score5{
    font-weight: bold;
    margin-left: 120px;
    bottom:42px;
    position: relative;
    font-size: smaller;
}
.discript5{
    font-weight: bold;
    margin-top:55px;
    text-align: center;
    margin-right: 760px;
    position: relative;
    opacity: 0.7;
    font-size: small;
    position: relative;
    
}
.flower-name5{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 150px;
    color: rgb(29, 54, 0);
    text-shadow:5px 5px 10px rgba(0,0,0,0.7);
}
.divFlower5{
    margin-left: 80px;
    margin-top: 130px;
}

/* div6 */

.colmn4{
    margin-left: 350px;
    position: relative;
    bottom: 1468px;
    
}


.flower6{
    width: 170px;
    position: relative;
    left: 100px;
    bottom: 20px;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.7));
}
.star6{
    width: 25px;
    margin-left: 90px;
    bottom: 8px;
    position: relative;
}
.basket6{
    width: 40px;
    margin-left: 169px;
    bottom: 15px;
    opacity: 0.7;
    position: relative;
}
.price6{
    position: relative;
    margin-left: 15px;
    top: 55px;
    font-size:xx-large;
    font-weight: bolder;
    color: rgb(10, 41, 3);
}
.score6{
    font-weight: bold;
    margin-left: 120px;
    bottom:42px;
    position: relative;
    font-size: smaller;
}
.discript6{
    font-weight: bold;
    margin-top:12px;
    text-align: center;
    margin-right: 745px;
    position: relative;
    opacity: 0.7;
    font-size: small;
    position: relative;
    
}
.flower-name6{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 150px;
    color: rgb(29, 54, 0);
    text-shadow:5px 5px 10px rgba(0,0,0,0.7);
    bottom: 13px;
    position: relative;
}
.divFlower6{
    margin-left: 80px;
    margin-top: 130px;
}

/* div7 */

.colmn5{
    margin-left: 700px;
    position: relative;
    bottom: 2780px;
    
}


.flower7{
    width: 250px;
    position: relative;
    left: 70px;
    bottom: 137px;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.7));
}
.star7{
    width: 25px;
    margin-left: 90px;
    bottom: 150px;
    position: relative;
}
.basket7{
    width: 40px;
    margin-left: 169px;
    bottom: 15px;
    opacity: 0.7;
    position: relative;
}
.price7{
    position: relative;
    margin-left: 15px;
    top: 55px;
    font-size:xx-large;
    font-weight: bolder;
    color: rgb(10, 41, 3);
}
.score7{
    font-weight: bold;
    margin-left: 120px;
    bottom:185px;
    position: relative;
    font-size: smaller;
}
.discript7{
    font-weight: bold;
    bottom: 135px;
    text-align: center;
    margin-right: 390px;
    position: relative;
    opacity: 0.7;
    font-size: small;
    position: relative;
    
}
.flower-name7{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 150px;
    color: rgb(29, 54, 0);
    text-shadow:5px 5px 10px rgba(0,0,0,0.7);
}
.divFlower7{
    margin-left: 80px;
    margin-top: 130px;
}

/* div8 */


.colmn6{
    margin-left: 700px;
    position: relative;
    bottom: 2933px;
    
}


.flower8{
    width: 180px;
    position: relative;
    left: 100px;
    bottom: 5px;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.7));
}
.star8{
    width: 25px;
    margin-left: 90px;
    top: 5px;
    position: relative;
}
.basket8{
    width: 40px;
    margin-left: 169px;
    bottom: 15px;
    opacity: 0.7;
    position: relative;
}
.price8{
    position: relative;
    margin-left: 15px;
    top: 55px;
    font-size:xx-large;
    font-weight: bolder;
    color: rgb(10, 41, 3);
}
.score8{
    font-weight: bold;
    margin-left: 120px;
    bottom:30px;
    position: relative;
    font-size: smaller;
}
.discript8{
    font-weight: bold;
    top: 15px;
    text-align: center;
    margin-right: 399px;
    position: relative;
    opacity: 0.7;
    font-size: small;
    position: relative;

    
}
.flower-name8{
    position: relative;
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 150px;
    color: rgb(29, 54, 0);
    text-shadow:5px 5px 10px rgba(0,0,0,0.7);
    bottom: 25px;
}
.divFlower8{
    margin-left: 80px;
    margin-top: 130px;
}

/* div9 */


.colmn7{
    margin-left: 700px;
    position: relative;
    bottom: 2880px;
    
}


.flower9{
    width: 160px;
    position: relative;
    left: 111px;
    bottom: 1px;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.7));
}
.star9{
    width: 25px;
    margin-left: 90px;
    top: 30px;
    position: relative;
}
.basket9{
    width: 40px;
    margin-left: 169px;
    top: 10px;
    opacity: 0.7;
    position: relative;
}
.price9{
    position: relative;
    margin-left: 15px;
    top: 85px;
    font-size:xx-large;
    font-weight: bolder;
    color: rgb(10, 41, 3);
}
.score9{
    font-weight: bold;
    margin-left: 120px;
    bottom:7px;
    position: relative;
    font-size: smaller;
}
.discript9{
    font-weight: bold;
    top: 35px;
    text-align: center;
    margin-right: 415px;
    position: relative;
    opacity: 0.7;
    font-size: small;
    position: relative;

    
}
.flower-name9{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 120px;
    color: rgb(29, 54, 0);
    text-shadow:5px 5px 10px rgba(0,0,0,0.7);
    position: relative;
    bottom: 10px;
}
.divFlower9{
    margin-left: 80px;
    margin-top: 130px;
}

/* div10 */

.colmn8{
    margin-left: 1050px;
    position: relative;
    bottom: 4135px;
    
}


.flower10{
    width: 200px;
    position: relative;
    left: 90px;
    bottom: 98px;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.7));
}
.star10{
    width: 25px;
    margin-left: 90px;
    bottom: 80px;
    position: relative;
}
.basket10{
    width: 40px;
    margin-left: 169px;
    bottom: 15px;
    opacity: 0.7;
    position: relative;
}
.price10{
    position: relative;
    margin-left: 15px;
    top: 55px;
    font-size:xx-large;
    font-weight: bolder;
    color: rgb(10, 41, 3);
}
.score10{
    font-weight: bold;
    margin-left: 120px;
    bottom:115px;
    position: relative;
    font-size: smaller;
}
.discript10{
    font-weight: bold;
    bottom: 70px;
    text-align: center;
    position: relative;
    opacity: 0.7;
    font-size: small;
    position: relative;
    margin-right: 45px;
    
}
.flower-name10{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 140px;
    color: rgb(29, 54, 0);
    text-shadow:5px 5px 10px rgba(0,0,0,0.7);
}
.divFlower10{
    margin-left: 80px;
    margin-top: 130px;
}

/* div11 */

.colmn9{
    margin-left: 1050px;
    position: relative;
    bottom: 4215px;
    
}


.flower11{
    width: 170px;
    position: relative;
    left: 106px;
    top: 50px;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.7));
}
.star11{
    width: 25px;
    margin-left: 90px;
    bottom: 8px;
    position: relative;
}
.basket11{
    width: 40px;
    margin-left: 169px;
    top: 1px;
    opacity: 0.7;
    position: relative;
}
.price11{
    position: relative;
    margin-left: 15px;
    top: 70px;
    font-size:xx-large;
    font-weight: bolder;
    color: rgb(10, 41, 3);
}
.score11{
    font-weight: bold;
    margin-left: 120px;
    bottom:42px;
    position: relative;
    font-size: smaller;
}
.discript11{
    font-weight: bold;
    margin-top:100px;
    text-align: center;
    position: relative;
    opacity: 0.7;
    font-size: small;
    position: relative;
    margin-right: 45px;
    
}
.flower-name11{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 135px;
    color: rgb(29, 54, 0);
    text-shadow:5px 5px 10px rgba(0,0,0,0.7);
    position: relative;
    top: 3px;
}
.divFlower11{
    margin-left: 80px;
    margin-top: 130px;
}


/* div12 */

.colmn10{
    margin-left: 1050px;
    position: relative;
    bottom: 4187px;
    
}


.flower12{
    width: 160px;
    position: relative;
    left: 108px;
    top: 20px;
    filter: drop-shadow(5px 5px 10px rgba(0,0,0,0.7));
}
.star12{
    width: 25px;
    margin-left: 90px;
    bottom: 8px;
    position: relative;
}
.basket12{
    width: 40px;
    margin-left: 169px;
    bottom: 15px;
    opacity: 0.7;
    position: relative;
}
.price12{
    position: relative;
    margin-left: 15px;
    top: 55px;
    font-size:xx-large;
    font-weight: bolder;
    color: rgb(10, 41, 3);
}
.score12{
    font-weight: bold;
    margin-left: 120px;
    bottom:42px;
    position: relative;
    font-size: smaller;
}
.discript12{
    font-weight: bold;
    margin-top:70px;
    text-align: center;
    position: relative;
    opacity: 0.7;
    font-size: small;
    position: relative;
    margin-right: 45px;
    
}
.flower-name12{
    text-align: center;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 150px;
    color: rgb(29, 54, 0);
    text-shadow:5px 5px 10px rgba(0,0,0,0.7);
    position: relative;
    bottom: 9px;
}
.divFlower12{
    margin-left: 80px;
    margin-top: 130px;
}


.flowerss{
    margin-left: 28px;
    height: 150px;
}









 .back{
    width: 7px;
    position: relative;
    top: 2px;
}
.back-button{
    width: 30px;
    height: 30px;
    background:#65c26a ;
    backdrop-filter: blur(10px);
    border:2px solid #65c26a;
    border-radius: 100px;
    margin-left: 80px;
    position: relative;
    box-shadow: 0 0 25px #26bd2e ;
    bottom: 500px;
}







.home{
    background-color: beige;
    border-radius: 3px;
    width: 20px;
    position: relative;
}
.email{
    background-color: beige;
    border-radius: 3px;
    width: 20px;
    position: relative;
}
.clock{
    background-color: beige;
    border-radius: 3px;
    width: 20px;
    position: relative;
}
.phone{
    background-color: beige;
    border-radius: 3px;
    position: relative;
    width: 20px;
    
}

.sp1{
    position: relative;
    margin-left: 600px;
    top: 1130px;
    color: beige;
    
}
.sp2{
    position: relative;
    margin-left: 600px;
    color: beige;
    top: 1150px;
    
}
.sp3{
    position: relative;
    margin-left: 550px;
    top: 1130px;
    color: beige;
    left: 300px;
    
    
}
.sp4{
    position: relative;
    margin-left: 550px;
    top: 1062px;
    color: beige;
    left: 300px;
}
.footer-img{
    width: 1500px;
    top:2225px ;
    position: absolute;
    
}


.footer-h1{
    font-weight: bold;
    color: beige;
    top:1150px;
    left: 650px;
    position: relative;
    font-size: 50px;

}
.app-p{    
    font-weight: bold;
    color: rgb(205, 255, 182);
    top:1180px;
    left: 70px;
    position: relative;
    font-size: large;
    text-align: center;
}
.apps{
    width: 130px;
    position: relative;
    top: 1200px;
    left: 740px;
}
.items-footer{
    position: relative;
    top: 1580px;
    left: 200px;
    font-weight: bolder;
    color: beige;
}


.log-footer{
    position: relative;
    top: 1170px;
    left: 1150px;
    font-weight: bold;
    color: beige;
}
.tt{
    margin-top: 170px;
    
}


footer{
    position: absolute; 
    top:600px;
}