body{
    background-image: url("forget.jpg");
    background-size: cover;
}


.d1{
    margin: 150px;
    width: 1120px;
    height: 400px;
    position: relative;
    border:4px solid rgb(13, 73, 1);
    border-radius: 15px;
    box-shadow: 0 0 25px rgb(13, 73, 1);
    margin-left: 165px;
    margin-top: 1px;
}
.d2{position: absolute;
    margin: 13px;
    padding: 20px;
    width: 1120px;
    height: 400px;
    background-color: bisque;
    border:2px solid bisque;
    border-radius: 15px;
    box-shadow: 0 0 25px bisque;
    
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: xx-large;
    color: crimson;

}
p{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: large;
    color: black;
    text-align: justify;
    
}
.back{
    width: 7px;
    margin-top: 4px;
}
.back-button{
    width: 30px;
    height: 30px;
    margin-left: 80px;
    background:#36863a ;
    backdrop-filter: blur(10px);
    border:2px solid #36863a;
    border-radius: 100px;
    box-shadow: 0 0 25px #36863a ;
    margin-top: 120px;
}
.back-img{
    background-image: url("bg-login.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}