.bg{
    background-image: url("bg-aboutus.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.d2{
    text-align: center;
    background-color: bisque;
    border-radius: 15px;
    top: 2px;
    left: 50px;
    padding: 30px;
    width: 1350px;
    position: relative;
    border:2px solid bisque;
    box-shadow: 0 0 25px bisque;
}

p{
    text-align: justify;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: small;
}

.back{
    width: 7px;
    position: relative;
    top: 2px;
}
.back-button{
    width: 30px;
    height: 30px;
    background:#65c26a ;
    backdrop-filter: blur(10px);
    border:2px solid #65c26a;
    border-radius: 100px;
    margin-left: 8px;
    box-shadow: 0 0 25px #65c26a;
    margin-top: 30px;
}